a {
    -webkit-tap-highlight-color: transparent;
}

.coinFlip {
    text-align: center;
    background-image: url('../img/wuerfel/hintergrund_wurfel.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overscroll-behavior: contain ;
    user-select: none;
    margin-bottom: 0;
    margin-top: 0;

}


.coinFlip header {
    top: 0;
    height: 65px;
}

.coinFlip header a {
    position: absolute;
    left: 5%;
    top: 1%;
}

.coinFlip header a img {
    width: 115px;
    height: 55px;
}

.coinFlip header form {
    position: absolute;
    font-size: 30px;
    right: 6%;
    top: 3%;
}



#coin{
    position: relative;
    width: 15rem;
    height: 15rem;
    /*margin: 10rem 4rem;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    transform-style: preserve-3d;
    text-align: center;
}


#coin div{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    background-size: contain;
    position: absolute;
}

.heads{
    background-image: url(../img/2_euro_coin_Eu_serie_1.png);
}

.animate-heads{
    animation: flipHeads 3s;
    animation-fill-mode: forwards;
}

@keyframes flipHeads {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(1800deg);
    }
}

.tails{
    background-image: url(../img/2_euro_coin_De_serie_1a.png);
    transform: rotateY(-180deg);
}

.animate-tails{
    animation: flipTails 3s;
    animation-fill-mode: forwards;
}


@keyframes flipTails {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(1620deg);
    }
}