@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

a {
    -webkit-tap-highlight-color: transparent;
}

.text {
    color: white;
}

/*index*/

.index {
    text-align: center;
    background-image: url('../img/wuerfel/hinergrund_hauptmenu.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overscroll-behavior: contain ;
    user-select: none;
}

.index a {
    position: relative;
    text-align: center;
    text-decoration: none;
    color: rgba(7, 7, 7, 0.829);
    background-color: rgba(173, 170, 170, 0.644);
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    border: 5px solid rgba(87, 158, 199, 0.541)
}

.index h1 {
    font-size: 60px;
    color: rgb(201, 145, 73);
}

.index .main {
    margin-top: 150px;
}

.index div .add{
    margin-top: 5%;
}

.index .main .player {
    position: relative;
    left: 20%;
    width: 200px;
    text-shadow: -2px -2px 0 #720015, 2px -2px 0 #720015, -2px 2px 0 #720015, 2px 2px 0 #720015;
}

.index .add button {
    width: 200px;
    height: 30px;
    border: 1px solid rgb(112, 106, 106);
    background: rgba(0, 0, 0, 0.432);
    color:rgba(255, 255, 255, 0.596);
    color:white;
}


.index div input {
    height: 40px;
    width: 300px;
    background: rgba(219, 216, 216, 0.164);
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.774);
    text-align: center;
    font-size: 25px;

}

::placeholder {
    position: relative;
    color: rgba(255, 255, 255, 0.774);
    font-size: 25px;
    text-align: center;
}

.index .startGame , .index .startDice, .index .startChooser, .index .startCoinFlip {
    margin-top: 10%;
    margin-left: 20%;
    display: flex;
}

.container{
    margin-top: 10%;
    margin-left: 5%;
}



.container button{
    width: 70%;
    display:inline-block;
    padding:1em 5em;
    border:0.16em solid #000000;
    margin:0 1em 2.5em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#0000FF;
    text-align:center;
    transition: all 0.15s;
}
.container button:hover{
    color:#800080;
    border-color:#800080;
}
.container button:active{
    color:#800080;
    border-color:#800080;
}
.container @media all and (max-width:30em){
    .container button{
        display:block;
        margin:0.4em auto;
        }
}

