.text {
    color: white;
}

/*index*/

.index {
    text-align: center;
    background-image: url('img/wuerfel/hinergrund_hauptmenu.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overscroll-behavior: contain ;
    user-select: none;
}

.index a {
    position: relative;
    text-align: center;
    text-decoration: none;
    color: rgba(7, 7, 7, 0.829);
    background-color: rgba(173, 170, 170, 0.644);
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    border: 5px solid rgba(87, 158, 199, 0.541)
}

.index h1 {
    font-size: 60px;
    color: rgb(201, 145, 73);
}

.index .main {
    margin-top: 150px;
}

.index div .add{
    margin-top: 5%;
}

.index .main .player {
    position: relative;
    left: 20%;
    width: 200px;
    text-shadow: -2px -2px 0 #720015, 2px -2px 0 #720015, -2px 2px 0 #720015, 2px 2px 0 #720015;
}


.index div button {
    width: 200px;
    height: 30px;
    border: 1px solid rgb(112, 106, 106);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.432);
    color:rgba(255, 255, 255, 0.596);
    color:white;
}

.index div input {
    border-radius: 20px;
    height: 40px;
    width: 300px;
    background: rgba(219, 216, 216, 0.164);
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.774);
    text-align: center;
    font-size: 25px;
    
}

::placeholder {
    position: relative;
    color: rgba(255, 255, 255, 0.774);
    font-size: 25px;
    text-align: center;
}

.index .startGame , .index .startDice, .index .startChooser {
    margin-top: 10%;
    margin-left: 20%;
    display: flex;
}



/*game*/


.game {
    /*background-color: rgb(146, 189, 214);*/
    text-align: center;
    background-image: url('img/wuerfel/hintergrund_new_2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overscroll-behavior: contain ;
    user-select: none;
}

.game main .task {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0px;
    font-size: 35px;
    margin: auto;
    width: 90%;
}

.game header {
    top: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    height: 100px;
    user-select: none;
}

 
.game header .score {
    position: absolute;
    right: 8%;
    top: 1.5%;
}

.game header .score .scoreLabel {
    width: 90px;
}

.game header div .scoreCount {
    color:white;
    font-family: 'Cinzel', serif;
    font-size: 35px;
    text-shadow: -2px -2px 0 #720015, 2px -2px 0 #720015, -2px 2px 0 #720015, 2px 2px 0 #720015;
}

.game header a {
    position: absolute;
    left: 5%;
    top: 3%;
    user-select: none;
}


.game header a img {
    width: 115px;
    height: 55px;
}


.game main {
    align-items: center;
    /*margin-top: 60%;*/
    text-align: center;
}
 

.game footer {
    position: fixed;
    bottom: 0;
}

.game footer ul {
    padding: 0;
    /*list-style-type: none;*/
}

.game footer li {
    float: left;
    width: 60px;
    height: 60px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.game footer li input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 100;
}

.game footer label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid white;
    z-index: 90;
    color: white;
    
}

.game footer label, .game footer input {
    border-radius: 12px;
    padding-top: 10px;
    font-size: 25px;
}


/*dice*/

.dice {
    text-align: center;
    background-image: url('img/wuerfel/hintergrund_wurfel.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overscroll-behavior: contain ;
    user-select: none;
}



.dice main {
    text-align: center;
    align-items: center;
}



.dice main div {
    /*margin-top: 50%;*/
}

.dice img {
    width: 100px;
    margin: 10px;
}

.dice header {
    top: 0;
    margin-bottom: 55%;
    height: 100px;
}

.dice header a {
    position: absolute;
    left: 5%;
    top: 1%;
}

.dice header a img {
    width: 115px;
    height: 55px;
}

.dice header form {
    position: absolute;
    font-size: 30px;
    right: 6%;
    top: 3%;
}

.dice label {
    color:white;
}

.dice form select {
    height: 40px;
    width: 50px;
    padding-top: 0px;
    font-size: 30px;
    background: none;
    border-radius: 10px;
    color: white;

}

.dice form select option {
    color: black;
    border-radius: 10px;
}


/*chooser*/

.chooser {
    text-align: center;
    margin: 0;
    background-image: url('img/wuerfel/chooser_hintergrund.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overscroll-behavior: contain ;
    user-select: none;
    position: fixed;
}

.chooser main a {
    position: absolute;
    left: 9%;
    top: 2%;
}

.chooser main a img {
    width: 115px;
    height: 55px;
}

.chooser main form {
    position: absolute;
    font-size: 30px;
    right: 6%;
    top: 3%;
}

.chooser main canvas {
    width: 100%;
}

.chooser label {
    color:white;
}

.chooser form select {
    height: 40px;
    width: 50px;
    padding-top: 0px;
    font-size: 30px;
    background: none;
    border-radius: 10px;
    color: white;

}

.chooser form select option {
    color: black;
    border-radius: 10px;
}





